.scroll-smooth {
  scroll-behavior: inherit !important;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "LXGW WenKai Screen", sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.scroll-smooth {
  scroll-behavior: smooth;
}
#friends-container {
  overflow-wrap: break-word;
}
.friends#friends-container .friends-list-div > .friends-div a .friends-info,
.friends#friends-container .friends-list-div > .friends-div a .friends-name {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.friends#friends-container .friends-list-div {
  padding: 10px 10px 0;
}
.friends#friends-container .friends-list-div > .friends-div {
  float: left;
  margin: 15px 7px;
  width: calc(100% / 3 - 15px);
  height: 90px;
  line-height: 17px;
}
@media screen and (max-width: 1100px) {
  .friends#friends-container .friends-list-div > .friends-div {
    width: calc(50% - 15px) !important;
  }
  @media screen and (max-width: 600px) {
    .friends#friends-container .friends-list-div > .friends-div {
      width: calc(100% - 15px) !important;
    }
  }
}
.friends#friends-container .friends-list-div > .friends-div:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
}
.friends#friends-container .friends-list-div > .friends-div a {
  color: currentColor;
  text-decoration: none;
}
.friends#friends-container .friends-list-div > .friends-div a img {
  float: left;
  margin: 15px 10px;
  width: 65px;
  --tw-bg-opacity: 1;
  border: 1px solid #e6e6e6;
}
.friends#friends-container .friends-list-div > .friends-div a .friends-name {
  padding: 16px 10px 0 0;
  height: 40px;
}
.friends#friends-container .friends-list-div > .friends-div a .friends-info {
  padding: 10px 10px 1px 0;
  height: 50px;
}
.tab-nav {
  list-style: none;
  margin: 0 !important;
  list-style-type: none !important;
  --tw-bg-opacity: 1;
  border-top: 1px dotted rgba(var(--color-neutral-300), var(--tw-bg-opacity));
  border-bottom: 1px dotted rgba(var(--color-neutral-300), var(--tw-bg-opacity));
}
.tab-nav-item {
  padding: 0.5rem 1rem !important;
  opacity: 0.8;
  margin: 0 !important;
}
.tab-nav-item::before {
  display: none !important;
}
.tab-nav-item.active {
  --tw-bg-opacity: 1;
  border-bottom: 3px solid rgba(var(--color-primary-600), var(--tw-bg-opacity));
  opacity: 1;
}
.tab-content .tab-content-panel {
  padding: 1rem 0.5rem;
}
.tab-content .tab-content-panel p {
  margin-bottom: 0 !important;
}
.tab-content .tab-content-panel.active {
  display: block;
}
.plugin-heimu {
  color: #000000;
  background-color: #000000;
  transition: 0.1s;
  border-radius: 10.1%;
  border-radius: 0.3rem !important;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-border-radius: 10.1%;
  -moz-border-radius: 10.1%;
  -ms-border-radius: 10.1%;
  -o-border-radius: 10.1%;
}

.plugin-heimu s {
  opacity: 0;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.plugin-heimu:hover {
  color: #fff;
  border-radius: 10.1%;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-border-radius: 10.1%;
  -moz-border-radius: 10.1%;
  -ms-border-radius: 10.1%;
  -o-border-radius: 10.1%;
}

.plugin-heimu:hover s {
  opacity: 1;
  border-radius: 10.1%;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-border-radius: 10.1%;
  -moz-border-radius: 10.1%;
  -ms-border-radius: 10.1%;
  -o-border-radius: 10.1%;
}

.emoji-object {
  display: inline-block;
  padding-left: 2px;
  padding-bottom: 2px;
  height: 24px;
}
#footer-emoji {
  display: inline-block;
  padding-left: 2px;
  padding-bottom: 2px;
  height: 24px;
}

.typer {
  position: relative;
  color: rgba(255, 255, 255, 0.1);
  animation: displayText 9s infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes displayText {
  0% {
    display: inline-block;
  }
  33.33%,
  100% {
    display: none;
  }
}

.typer:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #185abd;
  border-right: 4px solid #185abd;
  filter: drop-shadow(0 0 5px #185abd);
  animation: animate 3s linear infinite;
  -webkit-filter: drop-shadow(0 0 5px #185abd);
  font-weight: 600;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.loading {
  position: relative;
  width: 50px;
  perspective: 200px;
  padding-top: 2rem;
}

.loading:before,
.loading:after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  animation: jumping 0.5s infinite alternate;
  background: #ccc;
}

.loading:before {
  left: 0;
}

.loading:after {
  right: 0;
  animation-delay: 0.15s;
}

@keyframes jumping {
  0% {
    transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 #ccc;
  }

  100% {
    transform: scale(1.2) translateY(-25px) rotateX(45deg);
    background: #ccc;
    box-shadow: 0 25px 40px hsl(205deg, 10%, 50%);
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -moz-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
  }
}

#pagemap {
  position: fixed;
  top: 0;
  right: 0;
  width: 197px;
  height: 89%;
  z-index: 100;
  opacity: 0;
  transition: 800ms;
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  -ms-transition: 800ms;
  -o-transition: 800ms;
}

@media (max-width: 1420px) {
  #pagemap {
    display: none;
  }
}

#pagemap:hover {
  opacity: 1;
}

.fadeout {
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  animation: 1s ease 0s 1 normal forwards running fadeOutAnimation;
}

.fadein {
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  animation: 1s ease 0s 1 normal forwards running fadeInAnimation;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#refreshContainer,
.timeContainer {
  display: none;
}

@media screen and (min-width: 550px) {
  #refreshContainer,
  .timeContainer {
    display: inline;
  }
}

html.dark picture.mb-2.h-auto.w-36.rounded-full,
html.dark footer img.\!mb-0.\!mt-0.me-4.w-24.h-auto.rounded-full {
  filter: invert(1) hue-rotate(180deg);
}

#summary-wrapper,
#post-ai-result {
  max-width: 41rem;
  border: rgba(var(--color-neutral-800), calc(0.1 / var(--tw-text-opacity)))
    solid 1px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.8rem;
  border-radius: 16px;
}

#summary-wrapper > #title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  padding: 0 8px;
}

#summary-wrapper > #title > span.logo {
  background: rgba(var(--color-primary-500), var(--tw-bg-opacity));
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 25px;
  color: var(--tw-ring-offset-color);
  cursor: pointer;
}

#summary-wrapper > #title > span.logo.typing {
  animation: loading 1s infinite;
  cursor: not-allowed;
}

#summary-wrapper > #title > span.name {
  display: flex;
  align-items: center;
  color: rgba(var(--color-primary-500), var(--tw-bg-opacity));
  cursor: pointer;
}

#summary-wrapper > #title > span.name > .text {
  font-weight: bold;
}

#summary-wrapper > #title > span.name > .icon-up {
  font-weight: 400;
  font-size: 12px;
  margin-left: -3px;
  opacity: 0.8;
  transform: rotate(90deg);
}

#summary-wrapper > #title > span.name > .icon-robot {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  width: 25px;
  height: 26px;
  color: var(--tw-ring-offset-color);
  background-color: rgba(var(--color-primary-500), var(--tw-bg-opacity));
  border-radius: 50%;
  margin-right: 8px;
}

#summary-wrapper > #title > span.name > .icon-up svg {
  width: 1.1rem;
  height: 19px;
}

#summary-wrapper {
  background: rgba(
    var(--color-neutral-400),
    calc(0.06 / var(--tw-text-opacity))
  );
}

#summary-wrapper > #meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 8px;
  font-size: 12px;
}

#summary-wrapper > #meta > span.tip {
  opacity: 0.6;
}

#summary-wrapper > #meta > a.report {
  white-space: nowrap;
  margin-left: 12px;
  opacity: 0.8;
  transition: all 0.3s;
}

#summary-wrapper > #meta > a.report:hover {
  color: rgba(var(--color-primary-600), 1);
}

.post-ai-result {
  box-shadow: rgba(
      var(--color-neutral-700),
      calc(0.08 / var(--tw-text-opacity))
    )
    0 0 2px 2px;
  margin-bottom: 0.9rem;
  min-height: 3rem;
  max-width: 41rem;
  font-size: 16px;
  background-color: #fff;
}

.ai-cursor {
  display: inline-block;
  width: 3px;
  background: #333;
  height: 16px;
  margin-bottom: -2px;
  opacity: 0.95;
  margin-left: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
