@font-face {
  font-family: LXGW;
  font-display: optional;
  src: url("https://font.onmicrosoft.cn/floatsheep-hosting@1.0.1/static/fonts/LXGWWenKai-Regular.ttf");
}

.scroll-smooth {
  scroll-behavior: inherit !important;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: LXGW, LXGW Wenkai, lxgwwenkailite, LXGWWenKaiLite, -apple-system,
    BlinkMacSystemFont, helvetica neue, Helvetica, segoe ui, Roboto, Oxygen,
    Ubuntu, Cantarell, open sans, Arial, pingfang sc, hiragino sans gb,
    hiragino sans, microsoft yahei, wenquanyi micro hei, noto sans sc,
    sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol,
    noto color emoji, android emoji, emojisymbols, emojione;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.scroll-smooth {
  scroll-behavior: smooth;
}
#friends-container {
  overflow-wrap: break-word;
}
.friends#friends-container .friends-list-div > .friends-div a .friends-info,
.friends#friends-container .friends-list-div > .friends-div a .friends-name {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.friends#friends-container .friends-list-div {
  padding: 10px 10px 0;
}
.friends#friends-container .friends-list-div > .friends-div {
  float: left;
  margin: 15px 7px;
  width: calc(100% / 3 - 15px);
  height: 90px;
  line-height: 17px;
}
@media screen and (max-width: 1100px) {
  .friends#friends-container .friends-list-div > .friends-div {
    width: calc(50% - 15px) !important;
  }
  @media screen and (max-width: 600px) {
    .friends#friends-container .friends-list-div > .friends-div {
      width: calc(100% - 15px) !important;
    }
  }
}
.friends#friends-container .friends-list-div > .friends-div:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
}
.friends#friends-container .friends-list-div > .friends-div a {
  color: currentColor;
  text-decoration: none;
}
.friends#friends-container .friends-list-div > .friends-div a img {
  float: left;
  margin: 15px 10px;
  width: 65px;
  --tw-bg-opacity: 1;
  border: 1px solid #e6e6e6;
}
.friends#friends-container .friends-list-div > .friends-div a .friends-name {
  padding: 16px 10px 0 0;
  height: 40px;
}
.friends#friends-container .friends-list-div > .friends-div a .friends-info {
  padding: 10px 10px 1px 0;
  height: 50px;
}
.tab-nav {
  list-style: none;
  margin: 0 !important;
  list-style-type: none !important;
  --tw-bg-opacity: 1;
  border-top: 1px dotted rgba(var(--color-neutral-300), var(--tw-bg-opacity));
  border-bottom: 1px dotted rgba(var(--color-neutral-300), var(--tw-bg-opacity));
}
.tab-nav-item {
  padding: 0.5rem 1rem !important;
  opacity: 0.8;
  margin: 0 !important;
}
.tab-nav-item::before {
  display: none !important;
}
.tab-nav-item.active {
  --tw-bg-opacity: 1;
  border-bottom: 3px solid rgba(var(--color-primary-600), var(--tw-bg-opacity));
  opacity: 1;
}
.tab-content .tab-content-panel {
  padding: 1rem 0.5rem;
}
.tab-content .tab-content-panel p {
  margin-bottom: 0 !important;
}
.tab-content .tab-content-panel.active {
  display: block;
}
.plugin-heimu {
  color: #000000;
  background-color: #000000;
  transition: 0.1s;
  border-radius: 10.1%;
  border-radius: .3rem !important;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-border-radius: 10.1%;
  -moz-border-radius: 10.1%;
  -ms-border-radius: 10.1%;
  -o-border-radius: 10.1%;
}
.plugin-heimu:hover {
  color: #fff;
  border-radius: 10.1%;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-border-radius: 10.1%;
  -moz-border-radius: 10.1%;
  -ms-border-radius: 10.1%;
  -o-border-radius: 10.1%;
}
.emoji-object {
  display: inline-block;
  padding-left: 2px;
  padding-bottom: 2px;
  height: 24px;
}
#footer-emoji {
  display: inline-block;
  padding-left: 2px;
  padding-bottom: 2px;
  height: 24px;
}

.typer {
  position: relative;
  color: rgba(255, 255, 255, 0.1);
  animation: displayText 9s infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes displayText {
  0% {
    display: inline-block;
  }
  33.33%, 100% {
    display: none;
  }
}

.typer:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #185ABD;
  border-right: 4px solid #185ABD;
  filter: drop-shadow(0 0 5px #185ABD);
  animation: animate 3s linear infinite;
  -webkit-filter: drop-shadow(0 0 5px #185ABD);
  font-weight: 600;
}

@keyframes animate {
  0%, 10%, 100% { 
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}

.loading {
  position: relative;
  width: 50px;
  perspective: 200px;
  padding-top: 2rem;
}

.loading:before,
.loading:after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  animation: jumping 0.5s infinite alternate;
  background: #ccc;
}

.loading:before {
  left: 0;
}

.loading:after {
  right: 0;
  animation-delay: 0.15s;
}

@keyframes jumping {
  0% {
    transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 #ccc;
  }

  100% {
    transform: scale(1.2) translateY(-25px) rotateX(45deg);
    background:  #ccc;
    box-shadow: 0 25px 40px hsl(205deg, 10%, 50%);
    -webkit-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -moz-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -ms-transform: scale(1.2) translateY(-25px) rotateX(45deg);
    -o-transform: scale(1.2) translateY(-25px) rotateX(45deg);
}
}

#g-container .content-container {
  display: hidden;
}

#g-container .message {
  margin: 1.5rem;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}

#g-container .time {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 2.3rem;
}

#g-container .Tag {
  font-size: 22px;
  margin-top: 0;
}

#g-container .Tag .pageTag {
  font-size: 26px;
  font-weight: bold;
}

#g-container .Tag .pageTag .point {
  cursor: pointer;
  color: gray;
  text-decoration: none;
  font-size: 26px;
  font-style: italic;
}

#g-container .Tag .pageTag .point:hover {
  text-decoration: none;
  background-color: transparent;
}

#g-container .content-container {
  display: hidden;
}

#g-container .message {
  margin: 1.5rem;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}

#g-container .text {
  font-size: 16px;
}

#g-container .image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#g-container .image img {
  max-width: 92%;
  max-height: 92%;
  margin: 5px;
  object-fit: contain;
  border: .15rem solid #ddd;
}

#g-container .tagChina {
  color: #8989895c;
  text-align: right;
  margin-bottom: 0;
  margin-right: .5rem;
}

#g-container .tagList {
  display: flex;
  justify-content: flex-end;
  user-select: none;
  padding: 1rem;
  padding-bottom: .1rem;
  padding-right: 0;
}

#g-container .views {
  display: flex;
  float: right;
}

#load-more {
  margin-top: 1rem;
  border: .2rem #c1c0c0 solid;
  background-color: #c1c0c0;
  border-radius: 10%;
  box-shadow: 3px 5px 8px gray;
  padding: .4rem;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

#g-container .svg-blocked {
  width: 1rem;
  height: 1rem;
}

#g-container #safeChina {
  border: .13rem #FCE9B9 solid;
  border-radius: 13%;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

#g-container #safeChina:hover {
  border: .13rem #FCE9B9 solid;
  background-color: #FCE9B9;
  color: #000;
}

#load-more:hover {
  background-color: transparent;
  padding: .4rem;
  box-shadow: 0 0 0;
}

#pagemap {
  position: fixed;
  top: 0;
  right: 0;
  width: 197px;
  height: 89%;
  z-index: 100;
  opacity: 0;
  transition: 800ms;
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  -ms-transition: 800ms;
  -o-transition: 800ms;
}

@media (max-width: 1420px) {
  #pagemap {
    display: none;
  }
}

#pagemap:hover{
  opacity: 1;
}

.fadeout {
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  animation: 1s ease 0s 1 normal forwards running fadeOutAnimation;
}

.fadein {
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  animation: 1s ease 0s 1 normal forwards running fadeInAnimation;
}

@keyframes fadeOutAnimation {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}