<script
  async
  src="https://umami.yurl.eu.org/script.js"
  data-website-id="c4ab2812-12c5-44d6-9de3-cd6975a7967b"
></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("/sw.js?t=" + new Date().getTime(), { type: "module" })
        .then(function (registration) {
          console.log("Service Worker 注册成功:", registration);
        })
        .catch(function (err) {
          console.log("Service Worker 注册失败:", err);
        });
    }
    navigator.serviceWorker.addEventListener("message", (event) => {
      if (event.data === "sw-updated") {
        window.location.reload();
      }
    });
    window.fm || (window.fm = {});

    window.fm.refresh = () => {
      navigator.serviceWorker.getRegistrations().then((registrations) => {
        registrations.forEach((sw) => sw.unregister());
      });
    };

    /*     function debounce(func, delay) {
      let timeoutId;
      return function (...args) {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => func.apply(this, args), delay);
      };
    } */

    if (document.querySelector("#pagemap")) {
      document.querySelector("#pagemap").addEventListener("mouseover", () => {
        document.querySelector("#pagemap").classList.remove("fadeout");
        document.querySelector("#pagemap").classList.add("fadein");
      });
      document.querySelector("#pagemap").addEventListener("mouseout", () => {
        document.querySelector("#pagemap").classList.remove("fadein");
        document.querySelector("#pagemap").classList.add("fadeout");
      });
      let map = document.querySelector("#pagemap");
      let mapTimeout = null;
      document.addEventListener("scroll", () => {
        map.classList.remove("fadeout");
        map.classList.add("fadein");
        if (mapTimeout) clearTimeout(mapTimeout);
        mapTimeout = setTimeout(() => {
          map.classList.remove("fadein");
          map.classList.add("fadeout");
        }, 1000);
      });
    }
  });
</script>
<script src="/js/modules/mokerConsole.js"></script>
<script src="/js/modules/messageBar.js"></script>
<script src="/js/moduleEnable.js"></script>
<script src="/js/snackbar/snackbar.min.js"></script>
<script src="/js/disableKeyDown.js"></script>
<link rel="stylesheet" href="/js/snackbar/snackbar.min.css" />
<script src="/js/switch-day-night.js"></script>
<script src="/js/pagemap.js"></script>
<link
  rel="preload"
  href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/lxgwwenkaiscreen.css"
  as="style"
  onload="this.rel='stylesheet'"
/>
