<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("/sw.js")
        .then(function (registration) {
          console.log("Service Worker 注册成功:", registration);
        })
        .catch(function (err) {
          console.log("Service Worker 注册失败:", err);
        });
    }
    navigator.serviceWorker.addEventListener("message", (event) => {
      if (event.data === "sw-updated") {
        window.location.reload();
      }
    });
    window.fm || (window.fm = {});

    window.fm.refresh = () => {
      if (navigator.serviceWorker.controller) {
        navigator.serviceWorker.controller.postMessage({
          action: "force-refresh",
        });
      }
    };
  });
</script>
<script src="/js/modules/emojiReplace.js"></script>
<script src="/js/modules/mokerConsole.js"></script>
<script src="/js/modules/messageBar.js"></script>
<script src="/js/moduleEnable.js"></script>
<script src="/js/snackbar/snackbar.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.hesiy.cn/npm/@waline/client@latest/dist/waline.css"
/>
<link rel="stylesheet" href="/js/snackbar/snackbar.min.css" />
