<script
  async
  src="https://umami.yurl.eu.org/script.js"
  data-website-id="c4ab2812-12c5-44d6-9de3-cd6975a7967b"
></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("/sw.min.js")
        .then(function (registration) {
          console.log("Service Worker 注册成功:", registration);
        })
        .catch(function (err) {
          console.log("Service Worker 注册失败:", err);
        });
    }
    navigator.serviceWorker.addEventListener("message", (event) => {
      if (event.data === "sw-updated") {
        window.location.reload();
      }
    });
    window.fm || (window.fm = {});

    window.fm.refresh = () => {
      if (navigator.serviceWorker.controller) {
        navigator.serviceWorker.controller.postMessage({
          action: "force-refresh",
        });
      }
    };

    /*     function debounce(func, delay) {
      let timeoutId;
      return function (...args) {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => func.apply(this, args), delay);
      };
    } */

    window.noHover = true;

    function removeEffect(element) {
      element.classList.remove("fadeout");
    }

    function addFadein(element) {
      if (element) {
        if (!element.classList.contains("fadeout")) {
          element.classList.add("fadein");
        } else {
          element.addEventListener("transitionend", () => {
            if (window.noHover) {
              element.classList.remove("fadein");
              element.classList.add("fadeout");
            }
          });
          element.classList.remove("fadeout");
          element.classList.add("fadein");
        }
      }
    }

    const mapElement = document.getElementById("pagemap");
    if (mapElement) {
      // 监听鼠标悬停状态
      mapElement.addEventListener("mouseenter", () => {
        window.noHover = false;
      });
      mapElement.addEventListener("mouseleave", () => {
        window.noHover = true;
      });

      // 监听滚动事件
      addEventListener("scroll", () => {
        // 如果鼠标不在pagemap上，就添加fadein效果
        if (window.noHover) {
          addFadein(mapElement);
        }
      });

      // 监听自定义的插件事件
      addEventListener("scrollend", () => {
        if (window.noHover) {
          setTimeout(() => {
            mapElement.classList.remove("fadein");
            mapElement.classList.add("fadeout");
            setTimeout(() => {
              removeEffect(mapElement);
            }, 800);
          }, 800);
        }
      });
    }
  });
</script>
<script src="/js/modules/emojiReplace.js"></script>
<script src="/js/modules/mokerConsole.js"></script>
<script src="/js/modules/messageBar.js"></script>
<script src="/js/moduleEnable.js"></script>
<script src="/js/snackbar/snackbar.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.hesiy.cn/npm/@waline/client@latest/dist/waline.css"
/>
<link rel="stylesheet" href="/js/snackbar/snackbar.min.css" />
<script src="/js/switch-day-night.js"></script>
<script src="/js/pagemap.js"></script>
