<div class="post-ai" onclick="qwenSummary()">
  <img alt="Static Badge" src="/cfai.svg" />
</div>
<div id="post-ai-result" class="post-ai-result none-show"></div>
<style>
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .post-ai-result svg {
    animation: spin 1s infinite linear;
  }
  .post-ai-result {
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
    background-color: #f7f7f914;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin-bottom: .9rem;
    min-height: 3rem;
    max-width: 41rem;
  }
  .none-show {
    display: none;
  }
  .post-ai {
    margin-bottom: 1rem;
  }
  .ai-cursor {
    display: inline-block;
    width: 7px;
    background: #333;
    height: 16px;
    margin-bottom: -2px;
    opacity: 0.95;
    margin-left: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
</style>
<script>
  const aiButton = document.querySelector(".post-ai");
  const aiContainer = document.querySelector("#post-ai-result");
  let dataFetched = false;

  function qwenSummary() {
    const qwenUrl = "https://qwen.hesiy.cn";
    const postTitle = document.getElementById("title").textContent;
    const preProcessingContent =
      document.getElementById("posts-content").textContent;
    const postContent = preProcessingContent
      .replace(/\n/g, "")
      .replace(/[ ]+/g, " ")
      .replace(/<pre>[\s\S]*?<\/pre>/g, "")
      .replace(/%/g, "%25")
      .replace(/\+/g, "%2B") // 将+号转为编码
      .replace(/\//g, "%2F") // 将/转为编码
      .replace(/\?/g, "%3F") // 将?转为编码
      .replace(/#/g, "%23") // 将#转为编码
      .replace(/&/g, "%26"); // 将&转为编码

    const encodedPostTitle = encodeURIComponent(`文章标题：${postTitle}`);
    const encodedPostContent = encodeURIComponent(`，文章内容：${postContent}`);

    const stickUrl = `${qwenUrl}/?q=${encodedPostTitle}${encodedPostContent}`;

    console.log(stickUrl);

    // 获取数据
    summaryFetch(stickUrl);
  }

  function summaryFetch(url) {
    try {
      const evtSource = new EventSource(url);
      aiContainer.classList = `post-ai-result`;

      function addCursor() {
        const cursorSpan = document.createElement("span");
        cursorSpan.className = "ai-cursor";
        aiContainer.appendChild(cursorSpan);
      }

      aiContainer.textContent = ``;

      addCursor();

      evtSource.onmessage = (event) => {
        // 检测单独的[DONE]消息
        if (event.data === "[DONE]") {
          evtSource.close(); // 关闭 EventSource 连接
          document.querySelector(".ai-cursor")?.remove(); // 移除光标
        } else {
          try {
            const data = JSON.parse(event.data);
            const cursor = document.querySelector(".ai-cursor");
            const newText = document.createTextNode(data.response); // 创建新的文本节点
            aiContainer.insertBefore(newText, cursor); // 把新数据作为文本节点插入光标之前
          } catch (e) {
            console.error("解析数据时发生错误:", e);
          }
        }
      };
    } catch (e) {
      aiContainer.textContent = `数据获取出错，请重试`;
      throw e;
    }
  }
</script>
