<div id="comments-container">
  <center><div class="loading"></div></div></center>
</div>
<script type="module">
  import { init } from 'https://registry.npmmirror.com/@waline/client/latest/files/dist/waline.js';

  init({
    el: '#comments-container',
    serverURL: 'https://w-a.hesiy.cn',
    dark: 'html[class="scroll-smooth dark"]',
    search: false,
     reaction: [
      '//registry.npmmirror.com/@waline/emojis/1.2.0/files/tieba/tieba_agree.png',
      '//registry.npmmirror.com/@waline/emojis/1.2.0/files/tieba/tieba_look_down.png',
      '//registry.npmmirror.com/@waline/emojis/1.2.0/files/tieba/tieba_sunglasses.png',
      '//registry.npmmirror.com/@waline/emojis/1.2.0/files/tieba/tieba_pick_nose.png',
      '//registry.npmmirror.com/@waline/emojis/1.2.0/files/tieba/tieba_awkward.png',
    ],
    lang: 'zh-CN',
    emoji: [
      '//registry.npmmirror.com/@waline/emojis/1.2.0/files/bmoji',
    ],
  });
</script>