<footer id="order-footer" class="py-10 print:hidden">
    {{/* Footer menu */}}
    {{ if .Site.Menus.footer }}
      <nav class="pb-4 text-base font-medium text-neutral-500 dark:text-neutral-400">
        <ul class="flex list-none flex-col sm:flex-row">
          {{ range .Site.Menus.footer }}
            <li class="group mb-1 ltr:text-right rtl:text-left sm:mb-0 sm:me-7 sm:last:me-0">
              {{ if eq .Params.action "search" }}
                {{ $.Scratch.Add "searchCount" 1 }}
                {{ if $.Site.Params.enableSearch | default false }}
                  <button
                    id="search-button-{{ $.Scratch.Get "searchCount" }}"
                    title="{{ .Title | default (i18n "search.open_button_title") }}"
                  >
                    {{ with .Params.icon }}
                      <span
                        class="group-dark:hover:text-primary-400 transition-colors group-hover:text-primary-600"
                      >
                        {{- partial "icon.html" . -}}
                      </span>
                    {{- end -}}{{- if .Params.showName | default true -}}
                      <span
                        class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2"
                        >{{ .Name | markdownify | emojify }}</span
                      >
                    {{ end }}
                  </button>
                {{ end }}
              {{ else if eq .Params.action "appearance" }}
                {{ $.Scratch.Add "switchCount" 1 }}
                <button
                  id="appearance-switcher-{{ $.Scratch.Get "switchCount" }}"
                  type="button"
                  aria-label="appearance switcher"
                >
                  <span
                    class="group-dark:hover:text-primary-400 inline transition-colors group-hover:text-primary-600 dark:hidden"
                    title="{{ i18n "footer.dark_appearance" }}"
                  >
                    {{ partial "icon.html" "moon" }}
                  </span>
                  <span
                    class="group-dark:hover:text-primary-400 hidden transition-colors group-hover:text-primary-600 dark:inline"
                    title="{{ i18n "footer.light_appearance" }}"
                  >
                    {{ partial "icon.html" "sun" }}
                  </span>
                </button>
              {{ else }}
                <a
                  href="{{ .URL }}"
                  title="{{ .Title }}"
                  {{ with .Params.target }}target="{{ . }}"{{ end }}
                  >{{ with .Params.icon }}
                    <span
                      class="group-dark:hover:text-primary-400 transition-colors group-hover:text-primary-600"
                    >
                      {{- partial "icon.html" . -}}
                    </span>
                  {{- end -}}{{- if .Params.showName | default true -}}
                    <span
                      class="decoration-primary-500 group-hover:underline group-hover:decoration-2 group-hover:underline-offset-2"
                      >{{ .Name | markdownify | emojify }}</span
                    >
                  {{ end }}</a
                >
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </nav>
    {{ end }}
    <div class="flex items-center justify-between">
      <div>
        {{/* Copyright */}}
        {{ if .Site.Params.footer.showCopyright | default true }}
          <p class="text-sm text-neutral-500 dark:text-neutral-400">
            {{- with site.Copyright }}
              {{ . | emojify | markdownify }}
            {{- else }}
              &copy;
              {{ now.Format "2006" }}
              {{ .Site.Author.name | markdownify | emojify }}
            {{- end }}
          </p>
        {{ end }}
        {{/* Theme attribution */}}
        {{ if .Site.Params.footer.showThemeAttribution | default true }}
          <p class="text-xs text-neutral-500 dark:text-neutral-400">
            {{ $hugo := printf `<a class="hover:underline hover:decoration-primary-400 hover:text-primary-500"
              href="https://gohugo.io/" target="_blank" rel="noopener noreferrer">Hugo</a>`
            }}
            {{ $congo := printf `<a class="hover:underline hover:decoration-primary-400 hover:text-primary-500" href="https://github.com/jpanther/congo" target="_blank" rel="noopener noreferrer">Congo</a>` }}
            <span>图床支持 </span>
            <a class="hover:underline hover:decoration-primary-400 hover:text-primary-500" href="https://www.dogecast.com/" target="_blank" rel="noopener noreferrer">DogeDoge</a><br />
            <script>
//               const cfnet = 'https://cloudflare.net/cdn-cgi/trace';
// const hesiy = 'https://trace.hesiy.cn/cdn-cgi/trace';

// const reqcfnet = fetch(cfnet);
// const reqhesiy = fetch(hesiy);

//                Promise.race([reqcfnet, reqhesiy])
//                .then(response => {
//                  return response.text();
//                })
//                .then(data => {
//                  console.log(data);
//                  const lines = data.split('\n');
//                  const nodeInfo = lines.find(line => line.startsWith('colo=')).substring(5);
//                  const ipInfo = lines.find(line => line.startsWith('loc=')).substring(4);
//                  const httpInfo = lines.find(line => line.startsWith('http=')).substring(5);
//                  const reqURL = lines.find(line => line.startsWith('h=')).substring(2);
//                  console.log('Request url: ' + reqURL);
//                  const nodeInfoElement = document.getElementById('node-info');
//                  nodeInfoElement.textContent = `${nodeInfo}`;
//                  const ipInfoElement = document.getElementById('country');
//                  ipInfoElement.textContent = `${ipInfo}`;
//                  const httpInfoElement = document.getElementById('http');
//                  httpInfoElement.textContent = `${httpInfo}`;
//                  const originElement = document.getElementById('reqURL');
//                  originElement.innerText = `${reqURL}`;
//                })
//                .catch(error => {
//                  console.log('%cFetch error: ' + error, 'color: red; font-weight: bold;');
//                  const nodeInfoElement = document.getElementById('node-info');
//                  nodeInfoElement.textContent = `锟斤拷`;
//                  const ipInfoElement = document.getElementById('country');
//                  ipInfoElement.textContent = `锟斤拷`;
//                  const httpInfoElement = document.getElementById('http');
//                  httpInfoElement.textContent = `锟斤拷`;
//                  const originElement = document.getElementById('reqURL');
//                  originElement.innerText = `锟斤拷`;
//                });
                function checkStatus() {
                  function isFontCached() {
                    return localStorage.getItem('cachedFont') === 'true';
                  }
                  if (isFontCached()) {
                  } else {
                  }
                }
                checkStatus();
            </script>
            {{ i18n "footer.powered_by" (dict "Hugo" $hugo "Congo" $congo) | safeHTML }}
          </p>
          <div>
            <span id="timeDate" class="text-xs text-neutral-500 dark:text-neutral-400">锟斤拷</span><span id="times" class="text-xs text-neutral-500 dark:text-neutral-400">锟斤拷</span>
            <script>
                var now = new Date();
                function createtime() {
                    var grt= new Date("02/23/2020 15:46:12");//在此处修改你的建站时间
                    now.setTime(now.getTime()+250);
                    days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
                    hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);
                    if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum);
                    mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;}
                    seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
                    snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;}
                    document.getElementById("timeDate").innerHTML = "从初版博客起算，已运行 "+dnum+" 天 ";
                    document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
                } 
            setInterval("createtime()",250);
            </script>
            </div>
            
        {{ end }}
      </div>
      <button onclick="window.fm.refresh()" id="refresh-switcher" type="button" aria-label="Service Worker refresh controller">
        <div
          class="flex h-12 w-12 items-center justify-center dark:hidden"
          title="Refresh Service Worker"
        >
          {{ partial "icon.html" "flickr" }}
        </div>
        <div
          class="hidden h-12 w-12 items-center justify-center dark:flex"
          title="Refresh Service Worker"
        >
          {{ partial "icon.html" "flickr" }}
        </div>
      </button>
      {{/* Appearance switcher */}}
      {{ if .Site.Params.footer.showAppearanceSwitcher | default false }}
        <div
          class="{{ if .Site.Params.footer.showScrollToTop | default true -}}
            me-14
          {{- end }} cursor-pointer text-sm text-neutral-700 hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400"
        >
          <button id="appearance-switcher-0" type="button" aria-label="appearance switcher">
            <div
              class="flex h-12 w-12 items-center justify-center dark:flex"
              title="{{ i18n "footer.dark_appearance" }}"
            >
              <theme-button value="light"  id="btn" size="0.06"></theme-button>
            </div>
          </button>
        </div>
      {{ end }}
    </div>
    {{/* Extend footer - eg. for extra scripts, etc. */}}
    {{ if templates.Exists "partials/extend-footer.html" }}
      {{ partial "extend-footer.html" . }}
    {{ end }}
    <script>
      function getCookie(name) {
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookies = decodedCookie.split(';');
        var fullCookieName = name + "=";
        for(var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.indexOf(fullCookieName) === 0) {
                return cookie.substring(fullCookieName.length, cookie.length);
            }
        }
        return undefined;
    }
    document.addEventListener('DOMContentLoaded', (event) => {
      if (document.mB && typeof document.mB.show === 'function') {
        if(getCookie('mbShow') !== 'true') {
          document.mB.show("如果你的网页出现错误，可以使用页面底部的两点按键！", true, "我已知晓", "#FFF", "top-right", 5000);
          document.cookie = "mbShow=true; path=/";
        }
      } else {
          console.error('mB is not defined or show is not a function!');
      }
      pagemap(document.querySelector('#pagemap'), {
          viewport: null,
          styles: {
              'header,footer,section,article': 'rgba(0,0,0,0.08)',
              'h1,a': 'rgba(0,0,0,0.10)',
              'h2,h3,h4': 'rgba(0,0,0,0.08)'
          },
          back: 'rgba(0,0,0,0.02)',
          view: 'rgba(0,0,0,0.05)',
          drag: 'rgba(0,0,0,0.10)',
          interval: null
      });
    });
  </script>
  </footer>