{{ $scratch := newScratch }}
{{ if eq (.Get 0) "posts" }}
  {{ range (where .Site.RegularPages "Type" "in" "posts") }}
    {{ $scratch.Add "wordcount" .WordCount }}
  {{ end }}
{{ else if eq (.Get 0) "weekly" }}
  {{ range (where .Site.RegularPages "Type" "in" "weekly") }}
    {{ $scratch.Add "wordcount" .WordCount }}
  {{ end }}
{{ else if eq (.Get 0) "all" }}
  {{ range (where .Site.RegularPages "Type" "in" (slice "posts" "weekly")) }}
    {{ $scratch.Add "wordcount" .WordCount }}
  {{ end }}
{{ end }}
{{ $scratch.Get "wordcount" | lang.NumFmt 0 }} 字

{{ $wordcount := $scratch.Get "$wordcount" }}