{{/* 全站字数统计 */}}
{{ $scratch := newScratch }}
{{ $scratch.Set "total" 0 }}
{{ range site.RegularPages }}
  {{ $scratch.Add "total" .WordCount }}
{{ end }}
{{ $total := $scratch.Get "total" }}

{{/* 书籍类比库（单位：字） */}}
{{ $analogy := "" }}
{{ if ge $total 500000 }}
  {{ $analogy = printf "《战争与和平》" }}
{{ else if ge $total 400000 }}
  {{ $analogy = "《三体》三部曲" }}
{{ else if ge $total 260000 }}
  {{ $analogy = "《百年孤独》" }}
{{ else if ge $total 200000 }}
  {{ $analogy = "《平凡的世界》" }}
{{ else if ge $total 86000 }}
  {{ $analogy = "《小王子》李继宏译本" }}
{{ else if ge $total 77000 }}
  {{ $analogy = "《哈利波特与魔法石》" }}
{{ else if ge $total 35000 }}
  {{ $analogy = "《局外人》）" }}
{{ else if ge $total 30000 }}
  {{ $analogy = "《老人与海》" }}
{{ else if ge $total 20000 }}
  {{ $analogy = "《小王子》法文原版" }}
{{ else }}
  {{ $analogy = "一篇中篇小说" }}
{{ end }}

{{/* 输出结果 */}}
{{ $total | lang.FormatNumber 0 }} 字 / 相当于{{ $analogy }}